<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>DJangoApp index</title>
</head>
<body>
    {% block content %}
    <script>
        data = {{ data_json }}
    </script>
 send help

 <script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/d3.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
</body>
</html>